@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper{
    min-height: 100%;
	overflow: hidden;
    margin-top: 190px;
    font-family: "Lato"; 
    font-weight: 400;
    font-size: 16px;
    max-width: 810px;
    margin: 0 auto;
    line-height: 1.6;
}

h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    margin: 0 0 26px 0;
}

.icons{
    color: #787a80;
    
    
}
.kalendar{
    display: inline-block;
    color: #787a80; 
    background-image: url(../img/Calendar.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 5px 5px;
    padding-left: 24px;
    margin-right: 24px;
}

.clock{
    display: inline-block;
    color: #787a80;
    font-weight: 400;
    background-image: url(../img/Clock.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 5px 5px;
    padding-left: 24px; 


}

header{
    margin-bottom:40px ;
}
.image-main{
    display: block;
    max-width: 810px;
    margin: 0 auto 60px;
}

.dark-text{
    color: #1e212c;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0 auto 24px ;
}

.first-t{
    color: #424551;
    margin-bottom:  40px;
}

.second-t{
    color: #424551 ;
    margin-bottom:  48px;
}

.dark-text2{
    color: #1e212c;
    font-size: 20px;
    font-weight: 700;
    margin-bottom:  48px;
    background-image: url(../img/braces.png);
    background-repeat: no-repeat;
    background-size: 28px 20px;
    padding-left: 58px;
    line-height: 1.5;
}

.about{
    margin-bottom:  24px;
}



.icon{
    color: #424551;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 5px 5px;
    padding-left: 32px;
    margin-bottom: 4px;
}


.foot{
    color: #424551;
    font-size: 16px;
}

main{
    margin-bottom: 24px;
}

footer{
    margin-bottom: 150px ;
}
